#toTop {
    background: url("../images/totop.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: 70px;
    display: none;
    height: 55px;
    width: 55px;
    left: 58%;
    margin-left: 500px;
    overflow: hidden;
    position: fixed;
    text-decoration: none;
    text-indent: -999px;
    transition: all 0s ease 0s;
    z-index: 20;
}
#toTop:hover {
    background-position: right 0;
    outline: medium none;
}